
.header_title{
    padding: 20px ;
    font-size: 30px;
    margin: 0;
}
.company_name{
    padding-top: 20px;
    margin: 0;
}
hr{
    margin: 0;
}
.center{
    margin: auto;
}

nav{
    width: 200px;
    height: 100vh;
}
.hover-gray:hover{
    background-color: #f1f1f1;
}

.right{
    width: 200px;
}


